body{
  margin: 0;
  padding: 0;
  background: #700491;
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.button{
  position: relative;
  height: 200%;
  width: 100%;
  display: block;
  color: white;
  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
  margin: 30px 0;
  border: 2px solid rgba(255, 230, 7, 0.667);
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}
.button::before{
  background: #fff175;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.b1::before{
  width: 0%;
  height: 100%;
}

.b1:hover::before{
  width: 100%;
}


.b2::before{
  width: 100%;
  height: 0%;
}
.b2:hover::before{
  height: 100%;
}

.b3::before{
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(45deg);
}
.b3:hover::before{
  height: 380%;
}

.b4::before{
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(-45deg);
}
.b4:hover::before{
  height: 380%;
}
