body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9a7cd1;
  
  }

.container{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    width: 400px;
    max-width: 100%;
  }
header{
    text-align:center;
    background-color:#2a003d;
    color:rgb(223, 221, 221);
    padding:10px;
}

footer{
    text-align: center;
    font-size:18px;
}

h1 {
    font-size:3em;
    font-weight: 300;
    line-height:1em;
    text-align: center;
    color: #e9e8e8;
  }
  
  h2 {
    font-size:1em;
    font-weight: 300;
    text-align: center;
    display: block;
    line-height:1em;
    padding-bottom: 2em;
    color: #ffffff;
  }