body{
  margin: 0;
  padding: 0;
  height: 0.2vw;

  background-color: #2a003d;
  opacity: 1;
  background-size: 1vw 1vw;
  background-image: repeating-linear-gradient(45deg, #421e53 0, #421e53 1px, #2a003d 0, #2a003d 20%);
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: repeating-linear-gradient(-45deg, #1e002c 0, #1e002c 1px, #480079 0, #480079 0.5%);
  height: 25vw;
  width: 50vw;
  text-align: center;
  box-shadow:-2vw 2vw 0.4vw #1e002c;
  
}

.title{
  position:relative;
  text-align: center;
  color: white;
  font-family: "Segoe Print";
  font-size: 1.5vw;

}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  height: 12vw;
  width: 15vw;
  position:relative;
  display:inline;
  background-size: 1vw 1vw;
  background-image: repeating-linear-gradient(45deg, #d454ce 0, #d454ce 0.1px, #ffe711d0 0, #ffe711d0 75%);
  color:#2a003d;
  font-size: 4vw;
  font-family: "Bradley Hand ITC";
  text-decoration:none;
  margin: 1vw;
  padding: 2vw;
  overflow:hidden;
  box-shadow:-1vw 1vw 0.4vw #2a003d;
}

.button::before{
background: #ffde22;
content: "";
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
z-index: -1;
transition: all 0.6s ease;
}

.b3::before{
width: 100%;
height: 0%;
transform: translate(-50%,-50%) rotate(45deg);
}
.b3:hover::before{
height: 250%;
}