body{
    margin: 0;
    padding: 0;
    background-color: #2a003d;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(72, 0, 121);
    height: 25vw;
    width: 50vw;
    text-align: center;
}

.title{
    position:relative;
    text-align: center;
    color: white;
    font-family: "Normal 400 Italic";
    font-size: 2vw;

}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    height: 12vw;
    width: 15vw;
    position:relative;
    display:inline;
    background: rgba(255, 231, 11, 0.767);
    color:white;
    font-size: 2vw;
    font-family: "Bradley Hand ITC";
    text-decoration:none;
    margin: 1vw;
    padding: 2vw;
    overflow:hidden;

}

.button::before{
  background: #ffde22;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.b3::before{
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(45deg);
}
.b3:hover::before{
  height: 250%;
}